[AutoRun]
enabled=false
program=

[LegalNotice]
Accepted=true

[Network]
Cookies="__cfduid=d4b8128108b040aca54caf02a6db0795b1601134546; HttpOnly; expires=Mon, 26-Oct-2020 15:35:46 GMT; domain=.db-ip.com; path=/"

[Preferences]
Advanced\RecheckOnCompletion=false
Advanced\trackerPort=9000
Bittorrent\MaxUploads=2000
Bittorrent\MaxUploadsPerTorrent=50
Connection\PortRangeMin=50000
Connection\ResolvePeerCountries=true
Connection\alt_speeds_on=false
Downloads\ScanDirsV2=@Variant(\0\0\0\x1c\0\0\0\0)
DynDNS\DomainName=changeme.dyndns.org
DynDNS\Enabled=false
DynDNS\Password=
DynDNS\Service=0
DynDNS\Username=
MailNotification\email=
MailNotification\enabled=false
MailNotification\password=
MailNotification\req_auth=true
MailNotification\req_ssl=false
MailNotification\sender=qBittorrent_notification@example.com
MailNotification\smtp_server=smtp.changeme.com
MailNotification\username=
Queueing\QueueingEnabled=false
WebUI\Address=*
WebUI\AlternativeUIEnabled=false
WebUI\AuthSubnetWhitelist=@Invalid()
WebUI\AuthSubnetWhitelistEnabled=false
WebUI\BanDuration=3600
WebUI\CSRFProtection=true
WebUI\ClickjackingProtection=true
WebUI\CustomHTTPHeaders=
WebUI\CustomHTTPHeadersEnabled=false
WebUI\HTTPS\CertificatePath=
WebUI\HTTPS\Enabled=false
WebUI\HTTPS\KeyPath=
WebUI\HostHeaderValidation=true
WebUI\LocalHostAuth=true
WebUI\MaxAuthenticationFailCount=5
WebUI\Password_PBKDF2="@ByteArray(ebKsiR3PhLHvpdoqiciWzQ==:nq9Qq4fSwTSTBZ8sfkhyGxWytmFgMArXyxZTVRUsIxwZr1KcpONOajGceFvePOleeLjQceE2OgnJ/Mq4uDPlHg==)"
WebUI\Port=8081
WebUI\RootFolder=
WebUI\SecureCookie=true
WebUI\ServerDomains=*
WebUI\SessionTimeout=3600
WebUI\UseUPnP=true
WebUI\Username=admin
