[Unit]
Description=Backup {{ item.name }} from {{ item.src }} to {{ item.dest }}
#RequiresMountsFor=/run/backup_puller/{{ item.name }}
Before=systemd-poweroff.service backups.target

[Install]
WantedBy=backups.target

[Service]
Type=oneshot
ExecStart={{ rclone_path }} sync --config {{ rclone_config_file }} {% for e in item.exclude %} --exclude "{{ e }}" {% endfor %} --update --use-server-modtime --verbose --s3-storage-class {{ item.storage_class | default('STANDARD') }} {{ item.src }} {{ item.dest }}
User={{ backup_puller_initiator_user }}

NoNewPrivileges=yes
ProtectSystem=strict
#ProtectHome=true
PrivateTmp=true
PrivateDevices=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
