# subvolume to snapshot
SUBVOLUME="{{ item.subvolume }}"

# filesystem type
FSTYPE="{{ item.fstype | default('btrfs') }}"

# btrfs qgroup for space aware cleanup algorithms
QGROUP="{{ item.qgroup | default('') }}"


# fraction of the filesystems space the snapshots may use
SPACE_LIMIT="{{ item.space_limit | default(0.5) }}"

# fraction of the filesystems space that should be free
FREE_LIMIT="{{ item.free_limit | default(0.2) }}"


# users and groups allowed to work with config
ALLOW_USERS="{{ item.allow_users | default('') }}"
ALLOW_GROUPS="{{ item.allow_groups | default('') }}"

# sync users and groups from ALLOW_USERS and ALLOW_GROUPS to .snapshots
# directory
SYNC_ACL="{{ item.sync_acl | default('no') }}"


# start comparing pre- and post-snapshot in background after creating
# post-snapshot
BACKGROUND_COMPARISON="{{ item.sync_acl | default('yes') }}"


# run daily number cleanup
{% if 'number_cleanup' in item: %}
NUMBER_CLEANUP="yes"

# limit for number cleanup
NUMBER_MIN_AGE="{{ item.number_cleanup.min_age | default(1800) }}"
NUMBER_LIMIT="{{ item.number_cleanup.limit | default(50) }}"
NUMBER_LIMIT_IMPORTANT="{{ item.number_cleanup.limit_important | default(10) }}"
{% else: %}
NUMBER_CLEANUP="no"
{% endif %}


# create hourly snapshots
{% if 'timeline' in item: %}
TIMELINE_CREATE="{{ item.timeline.create | default('yes') }}"

# cleanup hourly snapshots after some time
TIMELINE_CLEANUP="{{ item.timeline.cleanup | default('yes') }}"

# limits for timeline cleanup
TIMELINE_MIN_AGE="{{ item.timeline.min_age | default(1800) }}"
TIMELINE_LIMIT_HOURLY="{{ item.timeline.limit_hourly | default(10) }}"
TIMELINE_LIMIT_DAILY="{{ item.timeline.limit_daily | default(10) }}"
TIMELINE_LIMIT_WEEKLY="{{ item.timeline.limit_weekly | default(0) }}"
TIMELINE_LIMIT_MONTHLY="{{ item.timeline.limit_monthly | default(10) }}"
TIMELINE_LIMIT_YEARLY="{{ item.timeline.limit_yearly | default(10) }}"

{% else: %}
TIMELINE_CREATE="no"

# cleanup hourly snapshots after some time
TIMELINE_CLEANUP="no"
{% endif %}


# cleanup empty pre-post-pairs
EMPTY_PRE_POST_CLEANUP="{{ item.empty_pre_post_cleanup | default('yes') }}"

# limits for empty pre-post-pair cleanup
EMPTY_PRE_POST_MIN_AGE="{{ item.empty_pre_post_min_age | default(1800) }}"
